<html lang="en"
      ng-app="myApp"
      ng-controller="myCtrl">

<head>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Embed/search meta -->
	<meta name="description" content="Self-help resources" />
	<meta name="keywords" content="self-help" />
	<meta property="og:title" content="Self-help resources" />
	<meta property="og:description" content="A collection of self-help resources to start tackling heavy emotional baggage." />
	<meta property="og:url" content="https://ptsd-resources.github.io/" />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="Self-help resources" />
	<meta name="twitter:url" content="https://ptsd-resources.github.io/" />
	<meta name="twitter:description" content="A collection of self-help resources to start tackling heavy emotional baggage." />

	<!-- Vendor stylesheets -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Page stylesheets -->
	<link href='assets/index.css' rel='stylesheet' type='text/css'/>

	<!-- Vendor scripts -->
	<script src="assets/lib/jquery.min.js"></script>
	<script src="assets/lib/jquery-deparam.js"></script>
	<script src="assets/lib/underscore-min.js"></script>
	<script src="assets/lib/angular-1.7.min.js"></script>
	<script src="assets/lib/angular-sanitize-1.7.9.js"></script>

	<!-- Page scripts -->
	<script src='assets/urlparams.js' type='text/javascript'></script>
	<script src='assets/index.js' type='text/javascript'></script>

</head>

<!-- Responsive nav toggle -->
<div id="nav-toggle"
	 class="sidebar">
	<a 
	   id="nav-icon"
	   ng-click="toggleResponsiveNav()">
		<i class="fa fa-bars"></i>
	</a>
</div>

<!-- The sidebar -->
<div class="sidebar toggleable"
	 ng-class="{open: isResponsiveNavOpen}">

    <!-- Header -->
    <div class="header responsive-off">
		<a href="#"
		   ng-click="loadPageView(undefined)"
		   ng-class="{selected: (currPage==null)}"
		   >
			<h1>ptsd resources</h1>
		</a>
		<p class="footnote">
		everyone's needs are different. take what you find helpful, leave what you don't.
		</p>
	</div>
	<div class="responsive-only">
		<hr/>
		<a href="#"
		   ng-click="loadPageView(undefined)"
		   ng-class="{selected: (currPage==null)}"
		   >
			About this site
		</a>
	</div>
	<hr/>

	<!-- Nav items -->
	<div ng-repeat="page in getOrderedPages()">
		<h3 ng-if="page.items === undefined">{[page.title]}</h3>
		<a ng-if="page.items !== undefined"
		   href="#{[page.id]}"
		   ng-click="loadPageView(page.id)"
		   ng-class="{selected: page.isSelected}"
		   >{[page.title]}</a>
	</div>
</div>

<!-- Page content -->
<div id="content">

	<!-- Index page -->
	<div ng-if="currPage.id === undefined"
		 class="index-content">

		<div class="page-head responsive-only">
			<h1>ptsd resources</h1>
			<p class="footnote">
			everyone's needs are different. take what you find helpful, leave what you don't.
			</p>
		</div>

		<!-- Index content -->
		<div class="page-item">
			<h3>what's this?</h3>
			<p>I am not professionally certified, trained, or licensed in any way regarding matters of trauma, therapy, or psychology. I'm just a layperson whose favorite coping mechanism is compulsively reading, collating, and applying as many resources as I can find. I originally formatted this as <a href="https://medium.com/@rhetoricize/d6fd776339a8" target="_blank">a longform article</a>, but it got too long, so I made this website for quicker reference.</p>
			<p>Unless otherwise noted, I have vetted and personally benefitted from all self-help resources provided. I hope you find some of this useful for your own journey!</p>
			<p>If you have feedback or would like to recommend more resources, you can <a href="https://forms.gle/8FA4ce7A3MXFg8wF8" target="_blank">contact me here</a>.</p>
		</div>
		<div class="page-item footnote">
			This site is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means to earn fees by linking to Amazon.com and affiliated sites.
		</div>
	</div>

	<!-- Current page head -->
	<div ng-if="currPage.id !== undefined"
		 class="page-head">
		<h3>{[currPage.title]}</h3>
	</div>

	<!-- Current page content -->
  	<div ng-repeat="item in currPage.getResources()"
		 class="page-item">
		<div ng-if="item.href !== undefined">
			<!-- linked title/image -->
			<a href="{[item.href]}"
			   ng-if="item.image !== undefined"
			   target="_blank"
			   >
				<img src="{[item.image]}"
					  class="item-image" />
			</a>
			<h3 ng-if="item.title"
			    class="item-title">
				<a href="{[item.href]}"
				   target="_blank"
				   ng-bind-html="item.title">{[item.title]}</a>
			</h3>
		</div>
		<div ng-if="item.href === undefined">
			<!-- unlinked title/image -->
			<img src="{[item.image]}"
				 ng-if="item.image !== undefined" 
				 class="item-image" />
			<h3 ng-bind-html="item.title"
			    class="item-title"
				ng-if="item.title"></h3>
		</div>
		<!-- body -->
		<p ng-bind-html="item.body"
		   ng-if="item.body !== undefined"></p>
	</div>
</div>

</html>
