/* VARS */

$yellow-fill: #ffd341
$yellow-text: #ebb500
$yellow-fill-muted: #ebb500

$purple-text: #681dc1
$purple-text-muted: #6426ad

$turquoise-text: #0e98bd

$teal-fill: #77d2d2
$teal-text: #04bbbb


$grey-border: #ccc


/* PAGE STYLES */

::selection 
  background: $yellow-fill /* WebKit/Blink Browsers */

::-moz-selection 
  background: $yellow-fill /* Gecko Browsers */


body 
  font-size: 13pt
  font-family: 'Georgia', sans-serif
  margin: 0

a
  color: $teal-text

  //&:visited
  //  color: $purple-text-muted

.footnote 
  font-size: 9pt
  font-style: oblique
  color: #666
  line-height: 1.2em

/* LAYOUT */

/* Sidebar */
.sidebar 
  margin: 0
  width: 350px
  background-color: #f1f1f1
  position: fixed
  height: 100%
  overflow: auto

  h1, h2, h3, .footnote
    font-style: oblique
    padding: 0 22px
    color: #666
    font-weight: normal

  a h1
    padding: 0
    margin: 0.5em 0 0

  hr 
    margin: 1.5em 0 1em 0
  

  /* Sidebar links */
  a 
    display: block
    color: black
    padding: 14px 22px
    text-decoration: none

    &.active 
      background-color: #4CAF50
      color: white
    
    &.selected 
      //background-color: $teal-fill
      border-right: 8px $teal-text solid
    
    &:hover:not(.active)//:not(.selected) 
      color: white
      background-color: $teal-fill


/* Page content */
#content 
  line-height: 1.5em
  margin-left: 350px
  padding: 16px 16px

  .page-head 
    margin: 28px
    padding: 0 21px
    font-style: oblique
    color: #666
    font-size: 1.4em

  .page-item 
    max-width: 600px
    margin: 28px

    padding: 21px
    border: 1px solid $grey-border
    border-radius: 5px
    word-wrap: break-word

    *
      max-width: 100%
    *:first-child 
      margin-top: 0
    
    *:last-child 
      margin-bottom: 0

    .item-title:first-child
      margin-top: 0

    .item-image
      max-height: 300px



/* RESPONSIVE */

/* On narrow screens, make the sidebar into a collapsible topbar */
@media screen and (max-width: 800px) 
  .sidebar 
    width: 100%
    height: auto
    position: relative
  
  div#content
    margin-left: 0