body {
	font-size: 13pt;
  font-family: 'Georgia', sans-serif;
  margin: 0;
}

a {
  /* All links open in new tabs. */
  target-name:new;
  target-new:tab;
}

.content {
	line-height: 1.5em;
}

.content .pageItem {
	max-width: 600px;
	margin: 2em 2em;

	padding: 1.5em;
	border: 1px solid #ccc;
	border-radius: 5px;
	word-wrap: break-word;
}

.content .pageItem *:first-child {
	margin-top: 0;
}
.content .pageItem *:last-child {
	margin-bottom: 0;
}
.content .pageItem * {
	max-width: 100%;
}

.content .pageItem h3 {
	margin-top: 0;
}

.footnote {
  font-size: 12px;
  color: #666;
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  width: 350px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar h1, .sidebar h2, .sidebar h3, .sidebar .footnote {
	padding: 0 22px;
}

.sidebar hr {
  margin: 2em 0 1em 0;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 14px 22px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 350px;
  padding: 1px 16px;
}

/* On screens that are less than 700px wide, make the sidebar into a collapsible topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
