=border-radius($r)
  -webkit-border-radius: $r
  -moz-border-radius: $r
  -ms-border-radius: $r
  -o-border-radius: $r
  border-radius: $r

=transition($prop:0.2s)
  -moz-transition: #{$prop}
  -ms-transition: #{$prop}
  -webkit-transition: #{$prop}
  -o-transition: #{$prop}
  transition: #{$prop}
